.fluid-container {
  width: 100%;
  .container {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 85px 85px 0;
    box-sizing: border-box;

    &-wide {
      margin-left: 0px;
      width: 100%;
    }
  }
}

.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  padding: 90px 17px 40px 24px;
  box-sizing: border-box;
  transform: translate(-250px);

  &-open {
    transform: translate(0);
  }
}

.roadmap {
  position: fixed;
  top: 90px;
  right: 0;
  max-height: 100vh;
  width: 220px;
  box-sizing: border-box;
}
