body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: red;
}

.content, .hamburger, .roadmap {
  float: left;
  transition: 1s all;
}

.content {
  width: 100%;
  background: blue;
}

.hamburger {
  background: red;
  height: 200px;
  width: 0;
}

.roadmap {
  background: green;
}

.hamburger-open {
  .content {
    width: calc(100% - 200px);
  }
  .hamburger {
    width: 200px;
  }
}
