@font-face {
  font-family: 'Source Black';
  src: local('Source Black'), url(../fonts/SourceSansPro-Black.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Source Bold';
  src: local('Source Bold'), url(../fonts/SourceSansPro-Bold.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Source Semi-Bold';
  src: local('Source Semi-Bold'), url(../fonts/SourceSansPro-SemiBold.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Source Light';
  src: local('Source Light'), url(../fonts/SourceSansPro-Light.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Source Regular';
  src: local('Source Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
  'embedded-opentype', and 'svg' */
}


body {
  margin: 0;
  font-family: 'Source Regular', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #404040;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

span {
  color: red;
}

.content, .hamburger, .roadmap, .container, .hamburger-menu {
  transition: all .2s cubic-bezier(.7,0,.3,1)
}

h3, h2 {
  font-size: 24px;
  font-family: 'Source Semi-Bold';
  margin: 20px 0;
}

h1 {
  font-size: 24px;
  font-family: 'Source Bold';
  font-weight: 700;
  margin: 20px 0;
}

p {
  line-height: 26px;
}

a {
  text-decoration: none;
  color: #404040;
}

pre {
  background: #1d1d1d;
  border-radius: 6px;
  padding: 25px 30px 25px;
  margin: 35px 0;
  overflow: auto;
  border: 0;
}

code {
  letter-spacing: normal;
    color: #f7f7f7;
    background: none;
    font-family: Inconsolata,Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 25px;
    font-size: 16px;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    hyphens: none;
}
