.roadmap {
  position: relative;
  padding: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
    width: 2px;
    background: #efefef;
  }

  & li {
    display: block;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;

    &:before {
      border-radius: 50%;
      transform: translateY(-50%);
      content: "";
      background: #fdfdfd;
      border: 2px solid #efefef;
      left: -4px;
      width: 6px;
      height: 6px;
      top: 50%;
      display: inline-block;
      position: absolute;
    }
  }
}
