
header {
  display: block;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10000;
  background: black;

  button {
  	background: none;
  	color: white;
  	border: none;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
  	outline: inherit;
    height: 70px;
    &:hover {
      background: #212121;
    }
  }

  input {
    border: 0;
    border-bottom: 2px solid #414141;
    font-size: 14px;
    outline: 0!important;
    transition: all 90ms ease-in-out;
    width: 165px;
    background: transparent;
    color: white;
    padding: 5px 20px 5px 28px;

    &:focus {
      border-bottom-color: #ed2945;
      width: 190px;
    }
  }

  .search-icon {
    position: absolute;
    color: #a5a5a5;
    font-size: 20px;
    margin-top: 3px;
  }

  .hamburger-home {
    width: 250px;
  }

  .hamburger-menu {
    width: 70px;

    &-open {
      width: 250px;
    }
  }

  .nav {
    float: right;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 70px;
    margin-right: 305px;

    & ul, & li {
      display: inline-block;
      vertical-align: middle;
      margin-left: 30px;
      padding: 0;

      & a {
        color: white;
        text-transform: uppercase;
        text-decoration: none;
      }
    }

    & li:first-of-type {
      margin-left: 0;
    }
  }
}
